.category_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.category_list_container a {
  border: 1px solid palevioletred;
  background-color: palevioletred;
  color: white;
  padding: 20px;
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.product_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.product img {
  width: 100%;
}
